@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 97.3913%;
	padding-left: 1.3043%;
	padding-right: 1.3043%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topslider {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#middle {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fp-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fp-topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-topslider-ul {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 98.3695%;
	padding-left: 0.8152%;
	padding-right: 0.8152%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topslider {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#middle {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fp-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.7569%;
	display: block;
}
#fp-topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-topmenu {
	clear: none;
	float: right;
	margin-left: 1.6574%;
	width: 74.5856%;
	display: block;
}
#fg-topslider-ul {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 96.9347%;
	max-width: 1232px;
	padding-left: 0.5326%;
	padding-right: 0.5326%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topslider {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#middle {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	padding-top: 6px;
}
#fp-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 41.0256%;
	display: block;
}
#fp-topmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fg-topmenu {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 57.8754%;
	display: block;
}
#fg-topslider-ul {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
