*{
	margin:0;
	padding:0;
}
body{
	background-color:rgb(82,82,82);
	text-align: center;
	
}
#container{
	margin:0 auto;
	text-align: left;
	width:648px;
}
.owner-login{
	margin-top:158px;
	background-color:#232323;
	width:648px;
	height:351px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
}
.owner-login .links{
	background-color:rgb(218,218,218);
	width:201px;
	height:331px;
	float: left;
	padding:20px 27px 0 22px;
}
.owner-login .link-item{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:120%;
	color:rgb(0,77,142);
	text-align:left;
	text-shadow:0px 1px 1px rgba(255,255,255,0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bfffffff,Positive = true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bfffffff,Positive = true);
	padding-bottom: 14px;
	border-bottom: 1px solid rgb(153, 153, 153);
}
.owner-login .line{
	border-bottom: 1px solid rgb(255, 255, 255);
	margin-bottom:17px;
}
.owner-login .link-item span.blue{
	color:#004D8E;
}
.owner-login .link-item a, .owner-login .link-item a:visited{
	color:#999999;
	text-decoration: none;
}
.login-form{
	width:390px;
	float:left;
}
.login-form h1{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	line-height:120%;
	color:rgb(217,217,217);
	text-align:left;
	text-shadow:0px 1px 2px rgba(0,0,0,0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bf000000,Positive = true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bf000000,Positive = true);
	padding-left:17px;
	padding-bottom:21px;
	padding-top:19px;
	border-bottom:1px solid rgb(51, 51, 51);
}
.login-form form{
	padding-left:60px;
}
.control-set dl dt{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	line-height:120%;
	color:rgb(153,153,153);
	text-align:left;
	margin-bottom:10px;
}
.control-set dl dd{
	margin-bottom:11px;
}
.control-set dl dd.last{
	margin-bottom:0px;
}
.control-set input[type=text], .control-set input[type=password]{
	padding:9px 12px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	line-height:120%;
	color:rgb(255,255,255);
	text-align:left;
	background-color:rgb(60,60,60);
	border:1px solid #232323;
	width:254px;
	height:12px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 1px 1px 0px rgba(153,153,153,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow:0px 1px 1px 0px rgba(153,153,153,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow:0px 1px 1px 0px rgba(153,153,153,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80999999,Positive = true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #80999999,Positive = true);
}
.control-set select{
	width:254px;
	padding:0.3em;
}
.button-radio-set{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	line-height:120%;
	color:rgb(153,153,153);
	text-align:left;
	margin-top:24px;
	margin-bottom: 31px;
}
.login-form button{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:120%;
	color:rgb(255,255,255);
	text-align:center;
	text-shadow:0px 1px 0px rgba(0,0,0,0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bf000000,Positive = true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bf000000,Positive = true);
	background-image:-moz-linear-gradient(49% -8% -90deg,rgb(2,151,221) 0%,rgb(0,74,139) 99%); 
	background-image:-webkit-gradient(linear,49% -8%,49% 122%,color-stop(0, rgb(2,151,221)),color-stop(0.99, rgb(0,74,139)));
	background-image:-webkit-linear-gradient(-90deg,rgb(2,151,221) 0%,rgb(0,74,139) 99%);
	background-image:-o-linear-gradient(-90deg,rgb(2,151,221) 0%,rgb(0,74,139) 99%);
	background-image:-ms-linear-gradient(-90deg,rgb(2,151,221) 0%,rgb(0,74,139) 99%);
	background-image:linear-gradient(-90deg,rgb(2,151,221) 0%,rgb(0,74,139) 99%);
	width:140px;
	height:40px;
	border-color:rgb(0,0,0);
	border-width:1px;
	border-style:solid;
	-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0297dd,endColorstr=#ff004a8b,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #bf000000,Positive = true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0297dd,endColorstr=#ff004a8b,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #bf000000,Positive = true);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}
.login-form button:hover{
	background-image:-moz-linear-gradient(49% -8% -90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%); 
	background-image:-webkit-gradient(linear,49% -8%,49% 122%,color-stop(0, rgb(0,87,153)),color-stop(0.99, rgb(0,87,153)));
	background-image:-webkit-linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	background-image:-o-linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	background-image:-ms-linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	background-image:linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	border-color:rgb(0,0,0);
	border-width:1px;
	border-style:solid;
	-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff005799,endColorstr=#ff005799,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #bf000000,Positive = true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff005799,endColorstr=#ff005799,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #bf000000,Positive = true);
}
.login-form button:active{
	background-image:-moz-linear-gradient(49% -8% -90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%); 
	background-image:-webkit-gradient(linear,49% -8%,49% 122%,color-stop(0, rgb(0,87,153)),color-stop(0.99, rgb(0,87,153)));
	background-image:-webkit-linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	background-image:-o-linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	background-image:-ms-linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	background-image:linear-gradient(-90deg,rgb(0,87,153) 0%,rgb(0,87,153) 99%);
	border-color:rgb(0,0,0);
	border-width:1px;
	border-style:solid;
	-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset -1px 4px 4px rgba(34,34,34,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset -1px 4px 4px rgba(34,34,34,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.75) ,inset -1px 4px 4px rgba(34,34,34,0.75) ,inset 0px 1px 0px rgba(255,255,255,0.42);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff005799,endColorstr=#ff005799,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #bf000000,Positive = true)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff005799,endColorstr=#ff005799,GradientType=0)
		progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 2,Color = #bf000000,Positive = true);
}