* {
	margin: 0;
}
html, body {
	height: 100%;
}
body{
	background-color:rgb(232, 232, 232);
	overflow-y:hidden;
}
footer, .push {
	height: 281px; 
	text-align:center;
}
footer{
	background-color:rgb(35,35,35);
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -281px; 
}
.wrapper-inside{
	width:837px;
	text-align:left;
	margin:0 auto;
	top:10px;
	position:relative;
}
.cgirl{
	top:-828px;
	float:left;
	position:relative;
}
.welcome-container img, .welcome-container{
	float:right;
}
.welcome-container{
	margin-top:-100px;
	height:0;
}
.welcome-container img{
	position:relative;
	top:-500px;
}
.back-to-home{
	display:inline-block;
	position:relative;
	top:-275px;
	height:62px;
	width:240px;
	background:url(../images/back-to-home.png) no-repeat transparent;
	float:right;
	cursor:pointer;
	left:330px;
}
.footer-content{
	width:725px;
	margin:auto;
	position:relative;
	overflow:hidden;
	top:31px;
	
}
.footer-content .logo{
	display:inline-block;
	height:141px;
	width:343px;
	background:url(../images/leadschat-welcome.png) no-repeat transparent;
	float:left;
}
.footer-content .links{
	display:inline-block;
	width:207px;
	text-align:left;
	float:right;
}
.footer-content .links ul{
	list-style-type:none;
	padding:0;
}
.footer-content .links ul li{
	height:46px;
	padding-top:7px;
}
.footer-content .links ul li.spacer{
	height:0;
	background-color:transparent;
	border-bottom-color:rgb(51,51,51);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-top-color:rgb(0,0,0);
	border-top-width:1px;
	border-top-style:solid;
	padding:0;
}
.footer-content .links ul img{
	float:left;
	margin-right:18px;
}
.footer-content .links ul a{
	float:left;
	margin-top:6px;
	display:inline-block;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:120%;
	color:rgb(255,255,255);
	text-align:left;
	vertical-align:middle;
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	text-shadow:0px 1px 1px rgba(0,0,0,0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bf000000,Positive = true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #bf000000,Positive = true);
}
